torch>=2.2.0
transformers @ git+https://github.com/huggingface/transformers.git@main
bitsandbytes>=0.44.0
datasets>=3.0.0
accelerate>=0.34.0
loralib>=0.1.2
huggingface_hub>=0.25.0
hf_transfer>=0.1.6
gdown>=5.1.0
openai>=1.47.0
pandas>=2.2.2
matplotlib>=3.9.2
tqdm>=4.66.5
numpy>=1.26.4
